{{ attach_library('bbb_node/details')}}

<div class="meeting_details">
  <div class="links">
    {{ meeting }}
  </div>
  <div class="status">
    <span id="open" class="open {{ status }}">{{ 'Meeting is open'|t }}</span>
    <span id="closed" class="closed {{ status }}">{{ 'Meeting is closed'|t }}</span>
  </div>
</div>
